{
    "parser": "@typescript-eslint/parser",
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended"
    ],
    "parserOptions": {
      "ecmaVersion": 2020,
      "sourceType": "module"
    },
    "ignorePatterns": ["node_modules/", "build/", "artifacts/", "src/typechain/", "*.js"],
    "rules": {
      "@typescript-eslint/no-var-requires": "off",
      "no-unused-vars": ["error", { "varsIgnorePattern": "^_" }],
      "@typescript-eslint/no-unused-vars": ["error", { "varsIgnorePattern": "^_" }]
    },
    "overrides": [
      {
        "files": ["src/*.ts", "test/**/*.ts"],
        "rules": {}
      }
    ]
  }
  