node_modules/
build/
cache/
.env
.DS_Store

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
publish/local.json
publish/contracts
src/typechain

/coverage
coverage.json

Flattened.sol

/target
**/*.rs.bk
Cargo.lock

artifacts/*
!artifacts/contracts
artifacts/contracts/*
!artifacts/contracts/SQToken.sol
artifacts/contracts/SQToken.sol/*
!artifacts/contracts/SQToken.sol/SQToken.json
!artifacts/contracts/VSQToken.sol
artifacts/contracts/VSQToken.sol/*
!artifacts/contracts/VSQToken.sol/VSQToken.json
!artifacts/contracts/Settings.sol
artifacts/contracts/Settings.sol/*
!artifacts/contracts/Settings.sol/Settings.json
!artifacts/contracts/Staking.sol
artifacts/contracts/Staking.sol/*
!artifacts/contracts/Staking.sol/Staking.json
!artifacts/contracts/IndexerRegistry.sol
artifacts/contracts/IndexerRegistry.sol/*
!artifacts/contracts/IndexerRegistry.sol/IndexerRegistry.json
!artifacts/contracts/QueryRegistry.sol
artifacts/contracts/QueryRegistry.sol/*
!artifacts/contracts/QueryRegistry.sol/QueryRegistry.json
!artifacts/contracts/InflationController.sol
artifacts/contracts/InflationController.sol/*
!artifacts/contracts/InflationController.sol/InflationController.json
!artifacts/contracts/ServiceAgreementRegistry.sol
artifacts/contracts/ServiceAgreementRegistry.sol/*
!artifacts/contracts/ServiceAgreementRegistry.sol/ServiceAgreementRegistry.json
!artifacts/contracts/PlanManager.sol
artifacts/contracts/PlanManager.sol/*
!artifacts/contracts/PlanManager.sol/PlanManager.json
!artifacts/contracts/PurchaseOfferMarket.sol
artifacts/contracts/PurchaseOfferMarket.sol/*
!artifacts/contracts/PurchaseOfferMarket.sol/PurchaseOfferMarket.json
!artifacts/contracts/EraManager.sol
artifacts/contracts/EraManager.sol/*
!artifacts/contracts/EraManager.sol/EraManager.json
!artifacts/contracts/RewardsDistributer.sol
artifacts/contracts/RewardsDistributer.sol/*
!artifacts/contracts/RewardsDistributer.sol/RewardsDistributer.json
!artifacts/contracts/RewardsPool.sol
artifacts/contracts/RewardsPool.sol/*
!artifacts/contracts/RewardsPool.sol/RewardsPool.json
!artifacts/contracts/RewardsHelper.sol
artifacts/contracts/RewardsHelper.sol/*
!artifacts/contracts/RewardsHelper.sol/RewardsHelper.json
!artifacts/contracts/ProxyAdmin.sol
artifacts/contracts/ProxyAdmin.sol/*
!artifacts/contracts/ProxyAdmin.sol/ProxyAdmin.json
!artifacts/contracts/StateChannel.sol
artifacts/contracts/StateChannel.sol/*
!artifacts/contracts/StateChannel.sol/StateChannel.json
!artifacts/contracts/Airdropper.sol
artifacts/contracts/Airdropper.sol/*
!artifacts/contracts/Airdropper.sol/Airdropper.json
!artifacts/contracts/PermissionedExchange.sol
artifacts/contracts/PermissionedExchange.sol/*
!artifacts/contracts/PermissionedExchange.sol/PermissionedExchange.json
!artifacts/contracts/Vesting.sol
artifacts/contracts/Vesting.sol/*
!artifacts/contracts/Vesting.sol/Vesting.json
